@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  text-decoration: none;
  font-family: Darker Grotesque;
}
